## Importing Excel data
Excel is a widely used data analysis tool. If you prefer to do your analyses in R, though, you'll need an understanding of how to import .csv data into R. This chapter will show you how to use readxl and gdata to do so.

### List the sheets of an Excel file
Before you can start importing from Excel, you should find out which sheets are available in the workbook. You can use the excel_sheets() function for this.

You will find the Excel file urbanpop.xlsx in your working directory (type dir() to see it). This dataset contains urban population metrics for practically all countries in the world throughout time (Source: Gapminder). It contains three sheets for three different time periods. In each sheet, the first row contains the column names.

In [1]:
# Load the readxl package
library(readxl)

# Print the names of all worksheets
excel_sheets("urbanpop.xlsx")

[1] "1960-1966" "1967-1974" "1975-2011"

### Import an Excel sheet
Now that you know the names of the sheets in the Excel file you want to import, it is time to import those sheets into R. You can do this with the read_excel() function. Have a look at this recipe:

data <- read_excel("data.xlsx", sheet = "my_sheet")

This call simply imports the sheet with the name "my_sheet" from the "data.xlsx" file. You can also pass a number to the sheet argument; this will cause read_excel() to import the sheet with the given sheet number. sheet = 1 will import the first sheet, sheet = 2 will import the second sheet, and so on.

In this exercise, you'll continue working with the urbanpop.xlsx file.

In [2]:
# Read the sheets, one by one
pop_1 <- read_excel("urbanpop.xlsx", sheet = 1)
pop_2 <- read_excel("urbanpop.xlsx", sheet = 2)
pop_3 <- read_excel("urbanpop.xlsx", sheet = 3)


# Put pop_1, pop_2 and pop_3 in a list: pop_list
pop_list = list(pop_1, pop_2, pop_3)
# Display the structure of pop_list
str(pop_list)

List of 3
 $ : tibble [209 x 8] (S3: tbl_df/tbl/data.frame)
  ..$ country: chr [1:209] "Afghanistan" "Albania" "Algeria" "American Samoa" ...
  ..$ 1960   : num [1:209] 769308 494443 3293999 NA NA ...
  ..$ 1961   : num [1:209] 814923 511803 3515148 13660 8724 ...
  ..$ 1962   : num [1:209] 858522 529439 3739963 14166 9700 ...
  ..$ 1963   : num [1:209] 903914 547377 3973289 14759 10748 ...
  ..$ 1964   : num [1:209] 951226 565572 4220987 15396 11866 ...
  ..$ 1965   : num [1:209] 1000582 583983 4488176 16045 13053 ...
  ..$ 1966   : num [1:209] 1058743 602512 4649105 16693 14217 ...
 $ : tibble [209 x 9] (S3: tbl_df/tbl/data.frame)
  ..$ country: chr [1:209] "Afghanistan" "Albania" "Algeria" "American Samoa" ...
  ..$ 1967   : num [1:209] 1119067 621180 4826104 17349 15440 ...
  ..$ 1968   : num [1:209] 1182159 639964 5017299 17996 16727 ...
  ..$ 1969   : num [1:209] 1248901 658853 5219332 18619 18088 ...
  ..$ 1970   : num [1:209] 1319849 677839 5429743 19206 19529 ...
  ..$ 1971   : num [1:209] 1409001 698932 5619042 19752 20929 ...
  ..$ 1972   : num [1:209] 1502402 720207 5815734 20263 22406 ...
  ..$ 1973   : num [1:209] 1598835 741681 6020647 20742 23937 ...
  ..$ 1974   : num [1:209] 1696445 763385 6235114 21194 25482 ...
 $ : tibble [209 x 38] (S3: tbl_df/tbl/data.frame)
  ..$ country: chr [1:209] "Afghanistan" "Albania" "Algeria" "American Samoa" ...
  ..$ 1975   : num [1:209] 1793266 785350 6460138 21632 27019 ...
  ..$ 1976   : num [1:209] 1905033 807990 6774099 22047 28366 ...
  ..$ 1977   : num [1:209] 2021308 830959 7102902 22452 29677 ...
  ..$ 1978   : num [1:209] 2142248 854262 7447728 22899 31037 ...
  ..$ 1979   : num [1:209] 2268015 877898 7810073 23457 32572 ...
  ..$ 1980   : num [1:209] 2398775 901884 8190772 24177 34366 ...
  ..$ 1981   : num [1:209] 2493265 927224 8637724 25173 36356 ...
  ..$ 1982   : num [1:209] 2590846 952447 9105820 26342 38618 ...
  ..$ 1983   : num [1:209] 2691612 978476 9591900 27655 40983 ...
  ..$ 1984   : num [1:209] 2795656 1006613 10091289 29062 43207 ...
  ..$ 1985   : num [1:209] 2903078 1037541 10600112 30524 45119 ...
  ..$ 1986   : num [1:209] 3006983 1072365 11101757 32014 46254 ...
  ..$ 1987   : num [1:209] 3113957 1109954 11609104 33548 47019 ...
  ..$ 1988   : num [1:209] 3224082 1146633 12122941 35095 47669 ...
  ..$ 1989   : num [1:209] 3337444 1177286 12645263 36618 48577 ...
  ..$ 1990   : num [1:209] 3454129 1198293 13177079 38088 49982 ...
  ..$ 1991   : num [1:209] 3617842 1215445 13708813 39600 51972 ...
  ..$ 1992   : num [1:209] 3788685 1222544 14248297 41049 54469 ...
  ..$ 1993   : num [1:209] 3966956 1222812 14789176 42443 57079 ...
  ..$ 1994   : num [1:209] 4152960 1221364 15322651 43798 59243 ...
  ..$ 1995   : num [1:209] 4347018 1222234 15842442 45129 60598 ...
  ..$ 1996   : num [1:209] 4531285 1228760 16395553 46343 60927 ...
  ..$ 1997   : num [1:209] 4722603 1238090 16935451 47527 60462 ...
  ..$ 1998   : num [1:209] 4921227 1250366 17469200 48705 59685 ...
  ..$ 1999   : num [1:209] 5127421 1265195 18007937 49906 59281 ...
  ..$ 2000   : num [1:209] 5341456 1282223 18560597 51151 59719 ...
  ..$ 2001   : num [1:209] 5564492 1315690 19198872 52341 61062 ...
  ..$ 2002   : num [1:209] 5795940 1352278 19854835 53583 63212 ...
  ..$ 2003   : num [1:209] 6036100 1391143 20529356 54864 65802 ...
  ..$ 2004   : num [1:209] 6285281 1430918 21222198 56166 68301 ...
  ..$ 2005   : num [1:209] 6543804 1470488 21932978 57474 70329 ...
  ..$ 2006   : num [1:209] 6812538 1512255 22625052 58679 71726 ...
  ..$ 2007   : num [1:209] 7091245 1553491 23335543 59894 72684 ...
  ..$ 2008   : num [1:209] 7380272 1594351 24061749 61118 73335 ...
  ..$ 2009   : num [1:209] 7679982 1635262 24799591 62357 73897 ...
  ..$ 2010   : num [1:209] 7990746 1676545 25545622 63616 74525 ...
  ..$ 2011   : num [1:209] 8316976 1716842 26216968 64817 75207 ...

### Reading a workbook
In the previous exercise you generated a list of three Excel sheets that you imported. However, loading in every sheet manually and then merging them in a list can be quite tedious. Luckily, you can automate this with lapply(). If you have no experience with lapply(), feel free to take Chapter 4 of the Intermediate R course.

Have a look at the example code below:

my_workbook <- lapply(excel_sheets("data.xlsx"), read_excel, path = "data.xlsx")

The read_excel() function is called multiple times on the "data.xlsx" file and each sheet is loaded in one after the other. The result is a list of data frames, each data frame representing one of the sheets in data.xlsx.

You're still working with the urbanpop.xlsx file.

In [3]:
# Read all Excel sheets with lapply(): pop_list
pop_list = lapply(excel_sheets("urbanpop.xlsx"), read_excel, path = "urbanpop.xlsx")

# Display the structure of pop_list
str(pop_list)

List of 3
 $ : tibble [209 x 8] (S3: tbl_df/tbl/data.frame)
  ..$ country: chr [1:209] "Afghanistan" "Albania" "Algeria" "American Samoa" ...
  ..$ 1960   : num [1:209] 769308 494443 3293999 NA NA ...
  ..$ 1961   : num [1:209] 814923 511803 3515148 13660 8724 ...
  ..$ 1962   : num [1:209] 858522 529439 3739963 14166 9700 ...
  ..$ 1963   : num [1:209] 903914 547377 3973289 14759 10748 ...
  ..$ 1964   : num [1:209] 951226 565572 4220987 15396 11866 ...
  ..$ 1965   : num [1:209] 1000582 583983 4488176 16045 13053 ...
  ..$ 1966   : num [1:209] 1058743 602512 4649105 16693 14217 ...
 $ : tibble [209 x 9] (S3: tbl_df/tbl/data.frame)
  ..$ country: chr [1:209] "Afghanistan" "Albania" "Algeria" "American Samoa" ...
  ..$ 1967   : num [1:209] 1119067 621180 4826104 17349 15440 ...
  ..$ 1968   : num [1:209] 1182159 639964 5017299 17996 16727 ...
  ..$ 1969   : num [1:209] 1248901 658853 5219332 18619 18088 ...
  ..$ 1970   : num [1:209] 1319849 677839 5429743 19206 19529 ...
  ..$ 1971   : num [1:209] 1409001 698932 5619042 19752 20929 ...
  ..$ 1972   : num [1:209] 1502402 720207 5815734 20263 22406 ...
  ..$ 1973   : num [1:209] 1598835 741681 6020647 20742 23937 ...
  ..$ 1974   : num [1:209] 1696445 763385 6235114 21194 25482 ...
 $ : tibble [209 x 38] (S3: tbl_df/tbl/data.frame)
  ..$ country: chr [1:209] "Afghanistan" "Albania" "Algeria" "American Samoa" ...
  ..$ 1975   : num [1:209] 1793266 785350 6460138 21632 27019 ...
  ..$ 1976   : num [1:209] 1905033 807990 6774099 22047 28366 ...
  ..$ 1977   : num [1:209] 2021308 830959 7102902 22452 29677 ...
  ..$ 1978   : num [1:209] 2142248 854262 7447728 22899 31037 ...
  ..$ 1979   : num [1:209] 2268015 877898 7810073 23457 32572 ...
  ..$ 1980   : num [1:209] 2398775 901884 8190772 24177 34366 ...
  ..$ 1981   : num [1:209] 2493265 927224 8637724 25173 36356 ...
  ..$ 1982   : num [1:209] 2590846 952447 9105820 26342 38618 ...
  ..$ 1983   : num [1:209] 2691612 978476 9591900 27655 40983 ...
  ..$ 1984   : num [1:209] 2795656 1006613 10091289 29062 43207 ...
  ..$ 1985   : num [1:209] 2903078 1037541 10600112 30524 45119 ...
  ..$ 1986   : num [1:209] 3006983 1072365 11101757 32014 46254 ...
  ..$ 1987   : num [1:209] 3113957 1109954 11609104 33548 47019 ...
  ..$ 1988   : num [1:209] 3224082 1146633 12122941 35095 47669 ...
  ..$ 1989   : num [1:209] 3337444 1177286 12645263 36618 48577 ...
  ..$ 1990   : num [1:209] 3454129 1198293 13177079 38088 49982 ...
  ..$ 1991   : num [1:209] 3617842 1215445 13708813 39600 51972 ...
  ..$ 1992   : num [1:209] 3788685 1222544 14248297 41049 54469 ...
  ..$ 1993   : num [1:209] 3966956 1222812 14789176 42443 57079 ...
  ..$ 1994   : num [1:209] 4152960 1221364 15322651 43798 59243 ...
  ..$ 1995   : num [1:209] 4347018 1222234 15842442 45129 60598 ...
  ..$ 1996   : num [1:209] 4531285 1228760 16395553 46343 60927 ...
  ..$ 1997   : num [1:209] 4722603 1238090 16935451 47527 60462 ...
  ..$ 1998   : num [1:209] 4921227 1250366 17469200 48705 59685 ...
  ..$ 1999   : num [1:209] 5127421 1265195 18007937 49906 59281 ...
  ..$ 2000   : num [1:209] 5341456 1282223 18560597 51151 59719 ...
  ..$ 2001   : num [1:209] 5564492 1315690 19198872 52341 61062 ...
  ..$ 2002   : num [1:209] 5795940 1352278 19854835 53583 63212 ...
  ..$ 2003   : num [1:209] 6036100 1391143 20529356 54864 65802 ...
  ..$ 2004   : num [1:209] 6285281 1430918 21222198 56166 68301 ...
  ..$ 2005   : num [1:209] 6543804 1470488 21932978 57474 70329 ...
  ..$ 2006   : num [1:209] 6812538 1512255 22625052 58679 71726 ...
  ..$ 2007   : num [1:209] 7091245 1553491 23335543 59894 72684 ...
  ..$ 2008   : num [1:209] 7380272 1594351 24061749 61118 73335 ...
  ..$ 2009   : num [1:209] 7679982 1635262 24799591 62357 73897 ...
  ..$ 2010   : num [1:209] 7990746 1676545 25545622 63616 74525 ...
  ..$ 2011   : num [1:209] 8316976 1716842 26216968 64817 75207 ...

### The col_names argument
Apart from path and sheet, there are several other arguments you can specify in read_excel(). One of these arguments is called col_names.

By default it is TRUE, denoting whether the first row in the Excel sheets contains the column names. If this is not the case, you can set col_names to FALSE. In this case, R will choose column names for you. You can also choose to set col_names to a character vector with names for each column. It works exactly the same as in the readr package.

You'll be working with the urbanpop_nonames.xlsx file. It contains the same data as urbanpop.xlsx but has no column names in the first row of the excel sheets.

In [5]:
# Import the first Excel sheet of urbanpop_nonames.xlsx (R gives names): pop_a
pop_a = read_excel("urbanpop_nonames.xlsx", sheet = 1, col_names = FALSE)

# Import the first Excel sheet of urbanpop_nonames.xlsx (specify col_names): pop_b
cols <- c("country", paste0("year_", 1960:1966))
pop_b = read_excel("urbanpop_nonames.xlsx", sheet = 1, col_names = cols)


# Print the summary of pop_a
summary(pop_a)

# Print the summary of pop_b
summary(pop_b)

New names:
* `` -> ...1
* `` -> ...2
* `` -> ...3
* `` -> ...4
* `` -> ...5
* ...

     ...1                ...2                ...3                ...4
 Length:209         Min.   :     3378   Min.   :     1028   Min.   :     1090
 Class :character   1st Qu.:    88978   1st Qu.:    70644   1st Qu.:    74974
 Mode  :character   Median :   580675   Median :   570159   Median :   593968
                    Mean   :  4988124   Mean   :  4991613   Mean   :  5141592
                    3rd Qu.:  3077228   3rd Qu.:  2807280   3rd Qu.:  2948396
                    Max.   :126469700   Max.   :129268133   Max.   :131974143
                    NA's   :11
      ...5                ...6                ...7
 Min.   :     1154   Min.   :     1218   Min.   :     1281
 1st Qu.:    81870   1st Qu.:    84953   1st Qu.:    88633
 Median :   619331   Median :   645262   Median :   679109
 Mean   :  5303711   Mean   :  5468966   Mean   :  5637394
 3rd Qu.:  3148941   3rd Qu.:  3296444   3rd Qu.:  3317422
 Max.   :134599886   Max.   :137205240   Max.   :139663053

      ...8
 Min.   :     1349
 1st Qu.:    93638
 Median :   735139
 Mean   :  5790281
 3rd Qu.:  3418036
 Max.   :141962708

   country            year_1960           year_1961           year_1962
 Length:209         Min.   :     3378   Min.   :     1028   Min.   :     1090
 Class :character   1st Qu.:    88978   1st Qu.:    70644   1st Qu.:    74974
 Mode  :character   Median :   580675   Median :   570159   Median :   593968
                    Mean   :  4988124   Mean   :  4991613   Mean   :  5141592
                    3rd Qu.:  3077228   3rd Qu.:  2807280   3rd Qu.:  2948396
                    Max.   :126469700   Max.   :129268133   Max.   :131974143
                    NA's   :11
   year_1963           year_1964           year_1965
 Min.   :     1154   Min.   :     1218   Min.   :     1281
 1st Qu.:    81870   1st Qu.:    84953   1st Qu.:    88633
 Median :   619331   Median :   645262   Median :   679109
 Mean   :  5303711   Mean   :  5468966   Mean   :  5637394
 3rd Qu.:  3148941   3rd Qu.:  3296444   3rd Qu.:  3317422
 Max.   :134599886   Max.   :137205240   Max.   :139663053

   year_1966
 Min.   :     1349
 1st Qu.:    93638
 Median :   735139
 Mean   :  5790281
 3rd Qu.:  3418036
 Max.   :141962708

### The skip argument
Another argument that can be very useful when reading in Excel files that are less tidy, is skip. With skip, you can tell R to ignore a specified number of rows inside the Excel sheets you're trying to pull data from. Have a look at this example:

read_excel("data.xlsx", skip = 15)

In this case, the first 15 rows in the first sheet of "data.xlsx" are ignored.

If the first row of this sheet contained the column names, this information will also be ignored by readxl. Make sure to set col_names to FALSE or manually specify column names in this case!

The file urbanpop.xlsx is available in your directory; it has column names in the first rows.

In [6]:
# Import the second sheet of urbanpop.xlsx, skipping the first 21 rows: urbanpop_sel
urbanpop_sel = read_excel("urbanpop.xlsx", sheet = 2, col_names = FALSE, skip = 21)

# Print out the first observation from urbanpop_sel
head(urbanpop_sel, 1)

New names:
* `` -> ...1
* `` -> ...2
* `` -> ...3
* `` -> ...4
* `` -> ...5
* ...

  ...1  ...2     ...3     ...4     ...5     ...6     ...7     ...8     ...9
1 Benin 382022.1 411859.5 443013.1 475611.4 515819.5 557937.6 602093.2 648409.7

### Work that Excel data!
Now that you can read in Excel data, let's try to clean and merge it. You already used the cbind() function some exercises ago. Let's take it one step further now.

The urbanpop.xls dataset is available in your working directory. The file still contains three sheets, and has column names in the first row of each sheet.

In [12]:
# Add code to import data from all three sheets in urbanpop.xls
path <- "urbanpop.xls"
urban_sheet1 <- read_excel(path, sheet = 1)
urban_sheet2 <- read_excel(path, sheet = 2)
urban_sheet3 <- read_excel(path, sheet = 3)

# Extend the cbind() call to include urban_sheet3: urban
urban <- cbind(urban_sheet1, urban_sheet2[-1], urban_sheet3[-1])

# Remove all rows with NAs from urban: urban_clean
urban_clean = na.omit(urban)

# Print out a summary of urban_clean
summary(urban_clean)

   country               1960                1961                1962
 Length:197         Min.   :     3378   Min.   :     3433   Min.   :     3481
 Class :character   1st Qu.:    87735   1st Qu.:    92905   1st Qu.:    98331
 Mode  :character   Median :   599714   Median :   630788   Median :   659464
                    Mean   :  5012388   Mean   :  5282488   Mean   :  5440972
                    3rd Qu.:  3130085   3rd Qu.:  3155370   3rd Qu.:  3250211
                    Max.   :126469700   Max.   :129268133   Max.   :131974143
      1963                1964                1965
 Min.   :     3532   Min.   :     3586   Min.   :     3644
 1st Qu.:   104988   1st Qu.:   112084   1st Qu.:   119322
 Median :   704989   Median :   740609   Median :   774957
 Mean   :  5612312   Mean   :  5786961   Mean   :  5964970
 3rd Qu.:  3416490   3rd Qu.:  3585464   3rd Qu.:  3666724
 Max.   :134599886   Max.   :137205240   Max.   :139663053
      1966                1967                1968
 Min.   :     3706   Min.   :     3771   Min.   :     3835
 1st Qu.:   128565   1st Qu.:   138024   1st Qu.:   147846
 Median :   809768   Median :   838449   Median :   890270
 Mean   :  6126413   Mean   :  6288771   Mean   :  6451367
 3rd Qu.:  3871757   3rd Qu.:  4019906   3rd Qu.:  4158186
 Max.   :141962708   Max.   :144201722   Max.   :146340364
      1969                1970                1971
 Min.   :     3893   Min.   :     3941   Min.   :     4017
 1st Qu.:   158252   1st Qu.:   171063   1st Qu.:   181483
 Median :   929450   Median :   976471   Median :  1008630
 Mean   :  6624909   Mean   :  6799110   Mean   :  6980895
 3rd Qu.:  4300669   3rd Qu.:  4440047   3rd Qu.:  4595966
 Max.   :148475901   Max.   :150922373   Max.   :152863831
      1972                1973                1974
 Min.   :     4084   Min.   :     4146   Min.   :     4206
 1st Qu.:   189492   1st Qu.:   197792   1st Qu.:   205410
 Median :  1048738   Median :  1097293   Median :  1159402
 Mean   :  7165338   Mean   :  7349454   Mean   :  7540446
 3rd Qu.:  4766545   3rd Qu.:  4838297   3rd Qu.:  4906384
 Max.   :154530473   Max.   :156034106   Max.   :157488074
      1975                1976                1977
 Min.   :     4267   Min.   :     4334   Min.   :     4402
 1st Qu.:   211746   1st Qu.:   216991   1st Qu.:   222209
 Median :  1223146   Median :  1249829   Median :  1311276
 Mean   :  7731973   Mean   :  7936401   Mean   :  8145945
 3rd Qu.:  5003370   3rd Qu.:  5121118   3rd Qu.:  5227677
 Max.   :159452730   Max.   :165583752   Max.   :171550310
      1978                1979                1980
 Min.   :     4470   Min.   :     4539   Min.   :     4607
 1st Qu.:   227605   1st Qu.:   233461   1st Qu.:   242583
 Median :  1340811   Median :  1448185   Median :  1592397
 Mean   :  8361360   Mean   :  8583138   Mean   :  8808772
 3rd Qu.:  5352746   3rd Qu.:  5558850   3rd Qu.:  5815772
 Max.   :177605736   Max.   :183785364   Max.   :189947471
      1981                1982                1983
 Min.   :     4645   Min.   :     4681   Min.   :     4716
 1st Qu.:   248948   1st Qu.:   257944   1st Qu.:   274139
 Median :  1673079   Median :  1713060   Median :  1730626
 Mean   :  9049163   Mean   :  9295226   Mean   :  9545035
 3rd Qu.:  6070457   3rd Qu.:  6337995   3rd Qu.:  6619987
 Max.   :199385258   Max.   :209435968   Max.   :219680098
      1984                1985                1986
 Min.   :     4750   Min.   :     4782   Min.   :     4809
 1st Qu.:   284939   1st Qu.:   300928   1st Qu.:   307699
 Median :  1749033   Median :  1786125   Median :  1850910
 Mean   :  9798559   Mean   : 10058661   Mean   : 10323839
 3rd Qu.:  6918261   3rd Qu.:  6931780   3rd Qu.:  6935763
 Max.   :229872397   Max.   :240414890   Max.   :251630158
      1987                1988                1989
 Min.   :     4835   Min.   :     4859   Min.   :     4883
 1st Qu.:   321125   1st Qu.:   334616   1st Qu.:   347348
 Median :  1953694   Median :  1997011   Median :  1993544
 Mean   : 10595817   Mean   : 10873041   Mean   : 11154458
 3rd Qu.:  6939905   3rd Qu.:  6945022   3rd Qu.:  6885378
 Max.   :263433513   Max.   :275570541   Max.   :287810747
      1990                1991                1992
 Min.   :     4907   Min.   :     4946   Min.   :     4985
 1st Qu.:   370152   1st Qu.:   394611   1st Qu.:   418788
 Median :  2066505   Median :  2150230   Median :  2237405
 Mean   : 11438543   Mean   : 11725076   Mean   : 12010922
 3rd Qu.:  6830026   3rd Qu.:  6816589   3rd Qu.:  6820099
 Max.   :300165618   Max.   :314689997   Max.   :329099365
      1993                1994                1995
 Min.   :     5024   Min.   :     5062   Min.   :     5100
 1st Qu.:   427457   1st Qu.:   435959   1st Qu.:   461993
 Median :  2322158   Median :  2410297   Median :  2482393
 Mean   : 12296949   Mean   : 12582930   Mean   : 12871480
 3rd Qu.:  7139656   3rd Qu.:  7499901   3rd Qu.:  7708571
 Max.   :343555327   Max.   :358232230   Max.   :373035157
      1996                1997                1998
 Min.   :     5079   Min.   :     5055   Min.   :     5029
 1st Qu.:   488136   1st Qu.:   494203   1st Qu.:   498002
 Median :  2522460   Median :  2606125   Median :  2664983
 Mean   : 13165924   Mean   : 13463675   Mean   : 13762861
 3rd Qu.:  7686092   3rd Qu.:  7664316   3rd Qu.:  7784056
 Max.   :388936607   Max.   :405031716   Max.   :421147610
      1999                2000                2001
 Min.   :     5001   Min.   :     4971   Min.   :     5003
 1st Qu.:   505144   1st Qu.:   525629   1st Qu.:   550638
 Median :  2737809   Median :  2826647   Median :  2925851
 Mean   : 14063387   Mean   : 14369278   Mean   : 14705743
 3rd Qu.:  8083488   3rd Qu.:  8305564   3rd Qu.:  8421967
 Max.   :437126845   Max.   :452999147   Max.   :473204511
      2002                2003                2004
 Min.   :     5034   Min.   :     5064   Min.   :     5090
 1st Qu.:   567531   1st Qu.:   572094   1st Qu.:   593900
 Median :  2928252   Median :  2944934   Median :  2994356
 Mean   : 15043381   Mean   : 15384513   Mean   : 15730299
 3rd Qu.:  8448628   3rd Qu.:  8622732   3rd Qu.:  8999112
 Max.   :493402140   Max.   :513607776   Max.   :533892175
      2005                2006                2007
 Min.   :     5111   Min.   :     5135   Min.   :     5155
 1st Qu.:   620511   1st Qu.:   632659   1st Qu.:   645172
 Median :  3057923   Median :  3269963   Median :  3432024
 Mean   : 16080262   Mean   : 16435872   Mean   : 16797484
 3rd Qu.:  9394001   3rd Qu.:  9689807   3rd Qu.:  9803381
 Max.   :554367818   Max.   :575050081   Max.   :595731464
      2008                2009                2010
 Min.   :     5172   Min.   :     5189   Min.   :     5206
 1st Qu.:   658017   1st Qu.:   671085   1st Qu.:   684302
 Median :  3589395   Median :  3652338   Median :  3676309
 Mean   : 17164898   Mean   : 17533997   Mean   : 17904811
 3rd Qu.: 10210317   3rd Qu.: 10518289   3rd Qu.: 10618596
 Max.   :616552722   Max.   :637533976   Max.   :658557734
      2011
 Min.   :     5233
 1st Qu.:   698009
 Median :  3664664
 Mean   : 18276297
 3rd Qu.: 10731193
 Max.   :678796403